@model IEnumerable<PROG7311_POE_PART_2.Models.Product>
<h2>My Products</h2>
<a class="btn btn-success mb-2" href="/Product/Add">Add New Product</a>

<table class="table table-hover">
    <thead><tr><th>Name</th><th>Category</th><th>Production Date</th></tr></thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@product.ProductionDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
